[ssh_connection]
pipelining = True

[defaults]
bin_ansible_callbacks = False
library = /fap/ansible/modules
retry_files_enabled = False
stdout_callback = yaml
display_skipped_hosts = False
collections_paths = /fap/ansible/ansible_collections
strategy_plugins = /fap/ansible/plugins/strategy
deprecation_warnings = False
force_valid_group_names = ignore
inventory_plugins = /fap/ansible/plugins/inventory
callback_plugins = /fap/ansible/plugins/callback
connection_plugins = /fap/ansible/plugins/connection
host_key_checking = False
vars_plugins = /fap/ansible/plugins/vars
terminal_plugins = /fap/ansible/plugins/terminal
action_plugins = /fap/ansible/plugins/action
inventory = /fap/ansible/inventory
cache_plugins = /fap/ansible/plugins/cache
roles_path = /fap/ansible/projects/ex_rsc_chk/roles
lookup_plugins = /fap/ansible/plugins/lookup
test_plugins = /fap/ansible/plugins/test
filter_plugins = /fap/ansible/plugins/filter
timeout = 60