[defaults]
connection_plugins = /fap/ansible/plugins/connection
vars_plugins = /fap/ansible/plugins/vars
bin_ansible_callbacks = False
force_valid_group_names = ignore
inventory = /fap/ansible/inventory
strategy_plugins = /fap/ansible/plugins/strategy
lookup_plugins = /fap/ansible/plugins/lookup
host_key_checking = False
deprecation_warnings = False
library = /fap/ansible/modules
test_plugins = /fap/ansible/plugins/test
collections_paths = /fap/ansible/ansible_collections
filter_plugins = /fap/ansible/plugins/filter
retry_files_enabled = False
callback_plugins = /fap/ansible/plugins/callback
roles_path = /fap/ansible/projects/ex_license_JEUS/roles
inventory_plugins = /fap/ansible/plugins/inventory
terminal_plugins = /fap/ansible/plugins/terminal
action_plugins = /fap/ansible/plugins/action
cache_plugins = /fap/ansible/plugins/cache
stdout_callback = yaml
display_skipped_hosts = False

[ssh_connection]
pipelining = True

