[ssh_connection]
pipelining = True # 2021.11.15 woochan

[defaults]
collections_paths = /fap/ansible/ansible_collections
library = /fap/ansible/modules
stdout_callback = yaml
host_key_checking = False
roles_path = /fap/ansible/projects/ex_password_change_python/roles
bin_ansible_callbacks = False
inventory = /fap/ansible/inventory
retry_files_enabled = False
deprecation_warnings = False

